.course{
    float: left;
    width: 225px;
    height: 300px;
    box-sizing: border-box;
    margin: 20px;
    background-color: rgb(235, 240, 250);
    box-shadow: 3px 3px 3px lightgray;
}

.pic{
    height: 120px;
    width: 100%;
}
.pic img{
    height: 100%;
    width: 100%;
}

h3{
    font-family: arial;
    text-align: center;
    color: darkblue;
}

h5{
    font-family: consolas;
    color: darkred;;
    text-align: center;
    font-size: 15px;
}
h6{
    color: gray;
    text-align:justify;
    font-family: Courier New, Courier, monospace;
    padding: 10px;
   
}